/* generics */
[v-cloak] {
    display: none;
}

/* app.html */
.niiu-main-container {
    height: 100vh;
    margin: auto;
    min-height: 768px;
    min-width: 1366px;
    width: 70vw;
}

.niiu-main-content {
    padding: 0;
}

/* niiu-check-animation.js */
.button-animation-area {
    text-align: center;
    height: 48px;
    width: 88px;
}

.button-animation-area img {
    height: 36px;
}

/* commons */
.main-area-container {
    height: 100%;
    width: 100%;
}

.padded-view {
    height: 100%;
    padding: 2%;
    width: 100%;
}

i.ni-icon-primary {
    color: #448aff !important;
}

i.ni-icon-danger {
    color: red !important;
}
