/* generics */
[v-cloak] {
    display: none;
}

/* app.html */
.niiu-main-container {
    height: 80vh;
    margin: auto;
    min-height: 768px;
    min-width: 1366px;
    width: 70vw;
}

.niiu-main-content {
    padding: 0;
}

/* commons */
.main-area-container {
    height: 100%;
    padding: 2%;
    width: 100%;
}