<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<template th:replace="commons :: header"></template>
<body>

<div id="app" v-cloak>
  <md-app class="niiu-main-container" md-waterfall md-mode="fixed">
    <md-app-toolbar class="md-primary">
      <span class="md-title">{{selectedStateTitle}}<span v-if="wsConnected" style="color: lightgreen;"> - Connected</span></span>
    </md-app-toolbar>

    <md-app-drawer md-permanent="full">
      <niiu-toolbar @settings-clicked="() => changeState('profile')"
                    @logout-clicked="() => window.location = '/logout'"></niiu-toolbar>

      <niiu-chats class="niiu-chats md-scrollbar"
                  :selected-group="currentGroupId"
                  @create-clicked="() => changeState('createChat')"
                  @chat-selected="(groupId) => onChatSelected(groupId)"></niiu-chats>
    </md-app-drawer>

    <md-app-content class="niiu-main-content">
      <!-- Contextual content -->
      <niiu-profile v-if="selectedState === 'profile'"></niiu-profile>
      <niiu-chat v-else-if="selectedState === 'chat'"
                 :group-id="currentGroupId"></niiu-chat>
      <niiu-create-chats v-else-if="selectedState === 'createChat'"
                         @chat-clicked="onChatSelected"></niiu-create-chats>
      <div v-else style="text-align: center;">
        <img src="/images/app-default.jpg" alt="moguri-img">
      </div>
    </md-app-content>
  </md-app>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    const states = {
      chat: {
        id: 'chat',
        title: 'Chat'
      },
      profile: {
        id: 'profile',
        title: 'Profile',
        init: function (data) {
          data.currentGroupId = null;
        }
      },
      createChat: {
        id: 'createChat',
        title: 'Create Chat',
        init: function (data) {
          data.currentGroupId = null;
        }
      }
    };

    const data = {
      state: null,
      window: window,
      wsConnected: false,
      currentGroupId: null
    };

    new Vue({
      el: '#app',
      data: data,
      computed: {
        selectedState: function() {
          return data.state ? data.state.id : null;
        },
        selectedStateTitle: function() {
          return data.state ? data.state.title : 'Niiu!';
        }
      },
      methods: {
        changeState: function(newState) {
          data.state = states[newState];

          // Call .init(...) function if present in the state
          if (typeof data.state.init === 'function') {
            data.state.init(data);
          }
        },
        onChatSelected: function(groupId) {
          data.currentGroupId = groupId;
          this.changeState('chat');
        }
      }
    });

    PubSub.subscribe(NiiuEvents.CONNECTION_ESTABLISHED, (topic, msg) => {
      data.wsConnected = true;
    });

    PubSub.subscribe(NiiuEvents.CONNECTION_CLOSED, (topic, msg) => {
      data.wsConnected = false;
    });

    PubSub.subscribe(NiiuEvents.USER_CONNECTED, (topic, msg) => {
      console.log(`topic: ${topic} / message: ${JSON.stringify(msg)}`);
    });

    NiiuLive.connect();
  }, false);
</script>

<template th:replace="commons :: after-imports"></template>

</body>
</html>
