<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<template th:replace="commons :: header"></template>
<body>

<div id="app" v-cloak>
  <md-app class="niiu-main-container" md-waterfall md-mode="fixed">
    <md-app-toolbar class="md-primary">
      <span class="md-title">{{selectedStateTitle}}</span>
    </md-app-toolbar>

    <md-app-drawer md-permanent="full">
      <niiu-toolbar @chat-clicked="() => changeState('chat')"
                    @settings-clicked="() => changeState('profile')"
                    @games-library-clicked="() => changeState('gamesLibrary')"
                    @logout-clicked="() => window.location = '/logout'"></niiu-toolbar>

      <md-list>
        <md-list-item>
          <md-icon>add</md-icon>
          <span class="md-list-item-text">Create conversation</span>
        </md-list-item>
      </md-list>
    </md-app-drawer>

    <md-app-content class="niiu-main-content">
      <niiu-progress-bar :show="loading"></niiu-progress-bar>

      <!-- Contextual content -->
      <niiu-profile v-if="selectedState === 'profile'"></niiu-profile>
      <niiu-games-library v-else-if="selectedState === 'gamesLibrary'"></niiu-games-library>
      <niiu-chat v-else-if="selectedState === 'chat'"></niiu-chat>
    </md-app-content>
  </md-app>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    const states = {
      chat: {
        id: 'chat',
        title: 'Chats'
      },
      profile: {
        id: 'profile',
        title: 'Profile',

      },
      gamesLibrary: {
        id: 'gamesLibrary',
        title: 'Games Library'
      }
    };

    const data = {
      state: null,
      loading: false,
      window: window
    };

    new Vue({
      el: '#app',
      data: data,
      computed: {
        selectedState: function() {
          return data.state ? data.state.id : null;
        },
        selectedStateTitle: function() {
          return data.state ? data.state.title : '';
        }
      },
      methods: {
        changeState: function(newState) {
          data.loading = true;

          setTimeout(() => {
            data.state = states[newState];
            data.loading = false;
          }, 1000);
        }
      }
    });
  }, false);
</script>

<template th:replace="commons :: after-imports"></template>

</body>
</html>