<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<template th:replace="commons :: header"></template>
<body>

<div id="app">
  <input type="text" v-model="myForm.textModel"><br>
  {{myForm.textModel}}
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const data = {
      myForm: {
        textModel: ''
      }
    }

    new Vue({
      el: '#app',
      data: data,
      methods: {
      }
    });
  }, false);
</script>

<template th:replace="commons :: after-imports"></template>

</body>
</html>