<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<template th:replace="commons :: header"></template>
<body>

<div id="app" v-cloak>
  <md-app class="niiu-main-container" md-waterfall md-mode="fixed">
    <md-app-toolbar class="md-primary">
      <span class="md-title">{{state.title}}</span>
    </md-app-toolbar>

    <md-app-drawer md-permanent="full">
      <niiu-toolbar @chat-clicked="() => changeState('chat')"
                    @settings-clicked="() => changeState('profile')"
                    @game-clicked="() => changeState('game')"
                    @logout-clicked="() => window.location = '/logout'"></niiu-toolbar>

      <md-list>
        <md-list-item>
          <md-icon>add</md-icon>
          <span class="md-list-item-text">Create conversation</span>
        </md-list-item>

      </md-list>
    </md-app-drawer>

    <md-app-content>
      <niiu-profile v-if="state.id === 'profile'"></niiu-profile>
      <div v-else-if="state.id === 'chat'">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quibusdam, non molestias et! Earum magnam, similique, quo recusandae placeat dicta asperiores modi sint ea repudiandae maxime? Quae non explicabo, neque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quibusdam, non molestias et! Earum magnam, similique, quo recusandae placeat dicta asperiores modi sint ea repudiandae maxime? Quae non explicabo, neque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quibusdam, non molestias et! Earum magnam, similique, quo recusandae placeat dicta asperiores modi sint ea repudiandae maxime? Quae non explicabo, neque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quibusdam, non molestias et! Earum magnam, similique, quo recusandae placeat dicta asperiores modi sint ea repudiandae maxime? Quae non explicabo, neque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quibusdam, non molestias et! Earum magnam, similique, quo recusandae placeat dicta asperiores modi sint ea repudiandae maxime? Quae non explicabo, neque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quibusdam, non molestias et! Earum magnam, similique, quo recusandae placeat dicta asperiores modi sint ea repudiandae maxime? Quae non explicabo, neque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quibusdam, non molestias et! Earum magnam, similique, quo recusandae placeat dicta asperiores modi sint ea repudiandae maxime? Quae non explicabo, neque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quibusdam, non molestias et! Earum magnam, similique, quo recusandae placeat dicta asperiores modi sint ea repudiandae maxime? Quae non explicabo, neque.</p>
      </div>
    </md-app-content>
  </md-app>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    const states = {
      chat: {
        id: 'chat',
        title: 'Chats'
      },
      profile: {
        id: 'profile',
        title: 'Profile'
      },
      game: {
        id: 'game',
        title: 'Game'
      }
    };

    const data = {
      state: states['chat'],
      window: window
    };

    new Vue({
      el: '#app',
      data: data,
      methods: {
        changeState: function(newState) {
          data.state = states[newState];
        }
      }
    });
  }, false);
</script>

<style>
    .niiu-main-container {
        height: 80vh;
        margin: auto;
        min-height: 768px;
        min-width: 1366px;
        width: 70vw;
    }

    [v-cloak] {
        display: none;
    }
</style>

<template th:replace="commons :: after-imports"></template>

</body>
</html>