<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<template th:replace="commons :: header"></template>
<body>

<div id="app">
  <form action="/login" method="post" style="width: 20vw;">
    <md-field md-clearable>
      <label for="usernameInput">Username</label>
      <md-input name="username"
                id="usernameInput"></md-input>
    </md-field>

    <md-field>
      <label for="passwordInput">Password</label>
      <md-input type="password"
                name="password"
                id="passwordInput"></md-input>
    </md-field>

    <md-button class="md-raised" type="submit">Login</md-button>
  </form>

  <!--<form action="/login" method="post">
    <label for="usernameInput">Username: </label><input id="usernameInput" type="text" name="username"><br>
    <label for="passwordInput">Password: </label><input id="passwordInput" type="password" name="password"><br>
    <input type="submit" value="Login">
  </form>-->
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const data = {
    }

    new Vue({
      el: '#app',
      data: data,
      methods: {
      }
    });
  }, false);
</script>

<template th:replace="commons :: after-imports"></template>

</body>
</html>