<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<template th:replace="commons :: header"></template>

<style>
  body {
    background-image: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<body>

<div id="app">
  <div class="md-layout md-alignment-center-center" style="height: 80vh;">
      <md-card class="md-layout-item md-size-20">
        <md-card-header>
          <div class="md-title">Login</div>
        </md-card-header>

        <md-card-content>
          <form action="/login" method="post">
            <md-field md-clearable>
              <label for="usernameInput">Username</label>
              <md-input name="username"
                        id="usernameInput"></md-input>
            </md-field>

            <md-field>
              <label for="passwordInput">Password</label>
              <md-input type="password"
                        name="password"
                        id="passwordInput"></md-input>
            </md-field>

            <div style="display: flex; align-items: center; justify-content: space-between;">
              <md-button class="md-raised md-primary btnLogin" type="submit">Login</md-button>
              <span>New? <a href="/register">Create new account</a></span>
            </div>
          </form>
        </md-card-content>
      </md-card>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const data = {
    }

    new Vue({
      el: '#app',
      data: data,
      methods: {
      }
    });
  }, false);
</script>

<template th:replace="commons :: after-imports"></template>

</body>
</html>