<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<template th:replace="commons :: header"></template>
<body>

<div id="app">
  <form action="/register" method="post" style="width: 20vw;">
    <md-field md-clearable>
      <label for="usernameInput">Username</label>
      <md-input name="username"
                id="usernameInput"></md-input>
    </md-field>

    <md-field md-clearable>
      <label for="emailInput">Email(You will use the email to login)</label>
      <md-input name="email" id="emailInput"></md-input>
    </md-field>

    <md-field>
      <label for="passwordInput">Password</label>
      <md-input type="password"
                name="password"
                id="passwordInput"></md-input>
    </md-field>

    <md-field>
      <label for="password2Input">Repeat Password</label>
      <md-input type="password" name="password2" id="password2Input"></md-input>
    </md-field>

    <md-button class="md-raised btnLogin" type="submit">Register</md-button>
  </form>

</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const data = {
    }

    new Vue({
      el: '#app',
      data: data,
      methods: {
      }
    });
  }, false);
</script>

<template th:replace="commons :: after-imports"></template>

</body>
</html>